*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    /* max-width: 1120px; */
    padding: 0;
    
}

.head-content{
    margin: 0 auto;
    background-image:url(B12A01-landing-launchpad/Assets/Hero-bg.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 20px;
    
    
}

.banner-section{
text-align: center;
justify-content: center;
margin: 230px 154px 267px 267px;
gap: 37px;
}
.banner-head{
    font-size: 64px;
    font-weight: bold;

    
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    
}
nav ul li{
    list-style: none;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 10px;
}
nav li a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* action section stle */
.action-section{
    display: flex;
    background-color: #FFFFFF;
    border: 5px solid white;
    margin: 116px 140px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.title-subtitle-container{
    margin-left: 0px;
    margin-right: 220px;
    margin-top: 62px;
    margin-bottom: 62px;
}
.img-view{
    border-radius: 48px;
}
.title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sub-title{
    color: #252432;
    font-size: 26px;
    
}