*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    /* max-width: 1120px; */
    padding: 0;
    
}

.head-content{
    margin: 0 auto;
    background-image:url(B12A01-landing-launchpad/Assets/Hero-bg.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 20px;
    
    
}

.banner-section{
text-align: center;
justify-content: center;
margin: 230px 154px 267px 267px;
gap: 37px;
}
.banner-head{
    font-size: 64px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    
}
nav ul li{
    list-style: none;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 10px;
}
nav li a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* action section stle */
.main{
    max-width: 1140px;
    margin: 0 auto;
}
.action-section{
    display: flex;
    background-color: #FFFFFF;
    border: 5px solid white;
    margin: 116px 140px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.title-subtitle-container{
    margin-left: 0px;
    margin-right: 220px;
    margin-top: 62px;
    margin-bottom: 62px;
}
.img-view{
    border-radius: 48px;
}
.title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sub-title{
    color: rgba(37, 36, 50, 0.5);
    font-size: 26px;
    
}
/* user section styles */
.user-section{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 116px;
    margin-bottom: 137px;
    margin-left: 141px;
    margin-right: 159px;
    padding: 80px;
    text-align: center;
}
.user-data{
    display: flex;
    margin-left: 142px;
    margin-right: 142px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 158px;
}
.user-title{
    font-size: 38px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    ;
    margin-bottom: 40px;
}
.data{
    font-size: 80px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    gap: 339px;
}
.describtion{
    font-size: 20px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.5);

}
/* feedback style */
.feedback-section{
    max-width: 1140px;
    margin: 0 auto;
    /* text-align: center;
    justify-content: center; */
    align-items: center;
}
.feedback-title{
    text-align: center;
    margin: 0 auto;
}
.card-container{
    display: flex;
    padding: 30px;
    
    
}
.card{
    background-color: #F2EDED;
    gap: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 15px;
    
}
.card-title{
    text-align: left;
    
}
.card-describtion{
    text-align: left;
}
.icon-star{
    object-fit: cover;
}
.owner{
    display: flex;
    gap: 5px;
    /* justify-content: center; */
    align-items: center;
    margin: 0 auto;  
    
}
.owner-pic{
    margin-left: 10px;
    margin-right: 20px;
    
}

.card-title{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.feedback-title{
    font-size: 50px;
}
/* touch style */
.touch{
    display: flex;
    max-width:1140px;
    height: 630px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.section-title{
    font-size: 97px;
    font-weight: bold;
    margin-left: 0;
    margin-right: 200px;
    margin-top: 200px;
    margin-bottom:200px ;
}
.section-form{
    width: 497px;
    height: 490ox;
    gap: 25px;
    font-size: 20px;
    margin-right: 150px;
}
.int-email{
    background-color: #FFFFFF;
    height: 70px;
    width: 697px;
    padding: 32px 20px;
    margin-top: 20px;

}
.int-button{
    background-color: #FFFFFF;
    height: 70px;
    width: 697px;
    padding: 32px 20px;
    margin-top: 20px;

}

.int-button{
    background-color: rgba(78, 71, 255, 1);
    font-size: 25px;
    font-weight: bold;
    padding: 19px 200px;
    color: white;
    border-radius: 15px;
    cursor: pointer;


}
/* fotter style */
.footer-container{
    background-color:#FFFFFF;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    max-width: 1440px;
    height: 428px;
}
.foot-box{
    margin: 0 auto;
    width: 531px;
    height: 177px;
    justify-content: center;
    align-items: center;
    margin-top: 104px;
    
}
.footter-head{
    font-size: 100px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);
    font-family: Arial, Helvetica, sans-serif;
}
.footer-des{
    color: #8987A1;
}
ul li{
    list-style: none;
    display:inline ;
    margin-right: 10px;
}
ul li a{
    text-decoration: none;
}
button:hover{
    background-color: aquamarine;
}


    


